<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.586052816326-cot6vmm79shkq9q716irslskjskoh87b</string>
					<string>pivot</string>
				</array>
			</dict>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Pivot</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>pivot</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UNNotificationAlertStyle</key>
		<integer>1</integer>
		<!-- <key>NSAppTransportSecurity</key>
		<dict>ну
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict> -->
		<!-- Branch.io Associated Domains -->
		<key>com.apple.developer.associated-domains</key>
		<array>
			<string>applinks:75lyh.app.link</string>
			<string>applinks:75lyh-alternate.app.link</string>
		</array>

	<!-- Branch Keys -->
	<key>branch_key</key>
	<string>key_live_guvoqm49tveW5nOI8oV8okafrCgPh1W1</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>75lyh.app.link</string>
		<string>75lyh-alternate.app.link</string>
	</array>

	<!-- Camera and Photo Library Permissions -->
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos of your meals</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select photos of your meals</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos to your photo library</string>
</dict>
</plist>
